
body {
    background-color: white;
}

.container {
    margin: 30px 50px;
    border-radius: .5rem;
    overflow: hidden;
}

img {
    border-radius: .5rem;
}


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #b4c0d3;
    /* padding: 20px; */
}

.side-column {
    width: 200px;
    background-color: #3498db;
    color: #ffff;
    padding: 10px;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #b4c0d3;
    background-image: url("../img/image.png");
    background-repeat: no-repeat;
}

/* Add more styling as needed */
a {
    color: yellow; /* sets link color */
    text-decoration: none;
}
